body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#wrapper {
    display: flex;
    border-radius: 10px;
    height: 528px;
}

@media only screen and (max-width: 855px) {
    body {
        background-repeat: repeat-y;
    }
    #wrapper {
        flex-direction: column;
    }
    #left-dex {
        margin-bottom: 5px;
    }
}

#left-dex {
    border-style: solid;
    border-color: black;
    background-color: red;
    text-align: center;
    margin-right: 5px;
    height: 100%;
    width: 406px;
    border-radius: 10px

}

#poke-img{
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    width: 350px;
    height: 250px;
    margin: auto;
    margin-top: 40px;
}

#poke-logo{

    margin-top: 90px;
  }

#right-dex {
    background-color: red;
    border-style: solid;
    border-color: black;
    text-align: center;
    height: 100%;
    width: 406px;
    border-radius: 10px

}

#search {
    display: block;
    margin: auto;
    margin-top: 40px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
}

#search:hover {
    box-shadow: 0 2px 4px 4px rgba(209, 209, 209, 1);, 0 5px 1px 1px 1px rgba(209, 209, 209, 1);
}

#poke-info{
    height: 150px;
    width: 350px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    background-color: white;
    margin: auto;
    margin-top: 40px;
}

#poke-logoo{
    margin-top: 80px;
    margin-left: 180px;
}

